<div class="container">
  <h2>Campo emisor</h2>
  <campo-emisor (propagar)="recuperarInfo($event)"></campo-emisor>

  <h1 class="personal">Bienvenidos al primer ejemplo</h1>

  <h2>Ejemplo de componente para el segundo día:</h2>
  <mi-boton texto="Guardar albarán"></mi-boton>
  <mi-boton texto="Guardar informe"></mi-boton>

  <panel-basico></panel-basico>
  <mi-panel-parametrizado
    texto="Este es el texto que quiero que aparezca"
    titulo="Este es el título"
  ></mi-panel-parametrizado>
  <mi-panel-parametrizado
    [texto]="datos"
    [titulo]="mensaje"
  ></mi-panel-parametrizado>
  <mi-acordeon
    titulo="Mi título"
    contenido="Mi contenido ..."
    colorFondo="red"
  ></mi-acordeon>
  <mi-acordeon
    titulo="Mi título 2"
    contenido="Mi contenido 2..."
    colorFondo="green"
  ></mi-acordeon>
  <h2>Otro componente de prueba</h2>
  <panel-activo texto="Este es un nuevo panel"></panel-activo>
</div>
