<div [class]="clase" (dblclick)="ondblclick(header3)">
  <h2 (click)="onclick($event)">{{titulo}}</h2>
  <h3 [textContent]="subtitulo" #header3></h3>
  <p [hidden]="!visible">{{parrafo}}</p>
  <a href="{{url1}}">Ir a google</a>
  <a [href]="url2">Ir a cleformacion</a>
</div>
